nav {
    border: 2px solid black;
}

li {
    display: inline-block;
    padding: 1% 2%;
}

nav a {
    background-color: black;
    padding: 5px;
    margin: 20px;
}

#skip {
    text-transform: uppercase;
}

.thumbnail {}
