body {
    background-color: #4739a8;
    color: white;
}

h1 {
    font-size:x-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2, h3 {
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:antiquewhite;
}

p {
    line-height: 1.15
}

img {
    border-width: 5px;
    border-style: solid;
    border-color:aquamarine;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

li {
    display: inline-block;
    margin-left: 50px;
}