* {
    text-align: center;
    /* margin: auto; */
}

body {
    background-color: #041854;
    color: rgb(253, 248, 248);
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: auto;
}

h1 {
    font-size: xx-large;
    font-family: "Nunito", Geneva, Tahoma, sans-serif;
    margin: 10px;
}

h2 {
    font-size: x-large;
    font-family: "Nunito", Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    margin: 10px;
}

h3 {
    font-size: large;
    font-family: "Nunito", Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    margin: 10px;
}

span {
    display: block;
    margin-bottom: 5px;
}

p {
    margin: 10px;
    font-size: 1em;
}

img,
video {
    border-width: 5px;
    border-style: solid;
    border-color: lightgrey;
    padding: 10px;
    border-top-right-radius: 30px;
    margin: auto;
}

img:hover,
video:hover {
    border-color: aquamarine;
}

nav {
    padding: 20px;
    background-color: rgb(1, 1, 30);
}

nav ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
}

nav ul li a {
    margin: auto;
    padding: 5px;
}

nav ul li a:hover,
nav ul li a:focus {
    border: 2px solid white;
    border-radius: 15px;
    animation: nav-hover-animation 0.5s;
}

footer {
    height: 100px;
    background-image: url(/images/footer_stars.jpg);
}

video {
    width: 100%;
}

.pet img,
.pet video {
    cursor: url(/images/paw_cursor.jpg), auto;
}

.recipe img {
    cursor: url(/images/list_cursor.jpg), auto;
}

.subsection {
    margin-bottom: 50px;
}

.main_photo {
    width: 90%;
    margin: auto;
}

.small-gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    padding: 10px;
}

.large-gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    gap: 15px;
    padding: 10px;
}

.large-gallery img,
.travel-primary img {
    cursor: url(/images/plane_cursor.png), auto;
}

#skip {
    position: absolute;
    transform: translateY(-100%);
}

#skip:focus {
    position: static;
}

*:focus {
    border: solid 2px orange;
}

#current_page {
    border: 2px solid white;
    border-radius: 15px;
    background-color: #3f57a1;
    animation: nav-animation 0.5s;
}

@keyframes nav-animation {
    from {
        background-color: rgb(1, 1, 30);
    }

    to {
        background-color: #3f57a1;
    }
}

@keyframes nav-hover-animation {
    from {
        border-color: rgb(1, 1, 30);
    }

    to {
        border-color: white;
    }
}

.prim_gif {
    display: inline;
}

.prim_photo {
    display: none;
}

@media (prefers-reduced-motion) {
    .prim_gif {
        display: none;
    }

    .prim_photo {
        display: inline;
    }
}

@media screen and (min-width: 800px) {
    body {
        font-size: large;
    }

    nav ul {
        grid-template-columns: repeat(3, 150px);
    }

    .pet {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .pet-gallery {
        grid-row: span 2;
    }

    .primary {
        height: 100%;
    }

    .travel-primary {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .travel-primary .main_photo {
        grid-column: 1 / span 2;
    }

    .large-gallery {
        grid-template-columns: repeat(3, auto);
    }

    .travel-location {
        margin-bottom: 50px;
    }

    .recipe {
        margin-bottom: 50px;
    }

    .recipe-primary {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
    }

    .recipe-descrip {
        grid-row: span 2;
    }

    .recipe-gallery {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (min-width: 1200px) {
    p {
        text-align: left;
    }

    .pet {
        grid-template-columns: 1fr;
    }

    .pet .primary {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .pet .main_photo {
        grid-row: 1 / span 3;
    }

    .pet .small-gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .travel-primary .main_photo {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    .recipe-descrip {
        grid-column: 1 / span 2;
        width: 90%;
        margin: auto;
    }

    .recipe-descrip .main_photo {
        width: 50%;
    }

    .recipe-primary {
        margin-bottom: 50px;
    }
}
